
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon2922.eot?w9xsls");
  src: url("fonts/icomoon2922.eot?w9xsls#iefix") format("embedded-opentype"), url("fonts/icomoon2922.ttf?w9xsls") format("truetype"), url("fonts/icomoon2922.woff?w9xsls") format("woff"), url("fonts/icomoon2922.svg?w9xsls#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
